In [18]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dados/creditcard.csv')

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

Os passos para preparação dos dados são:

* "Embaralhar os dados"
* Tranformar as classes na notação one-hot
* Normalizar os dados
* Dividir os dados X/y 
* Converter o DataFrame em arrays numpy (foat32)
* Separar os dados de treino e teste

In [4]:
dados_embaralhados = df.sample(frac=1)

In [5]:
dados_embaralhados.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
120751,75947.0,1.098396,-0.340280,1.216727,0.709707,-0.956210,0.455643,-0.889714,0.426867,0.851781,...,-0.027662,0.058971,0.064191,0.020403,0.111105,0.333664,0.022088,0.010636,6.89,0
181407,124960.0,-0.569501,1.834470,-1.147724,1.078697,1.061644,-0.692177,1.020313,0.251366,-0.654807,...,0.063369,0.272571,-0.211524,0.528725,0.027958,-0.410748,0.190701,0.211958,9.50,0
164706,116930.0,-0.907347,0.657210,1.980852,-0.271921,0.000650,-1.176878,0.866193,-0.126221,-0.431703,...,0.061136,0.102100,-0.208866,0.892240,0.472673,0.309600,-0.023932,0.062189,30.90,0
128221,78640.0,1.237184,0.685679,-0.356350,1.356846,0.035289,-1.257542,0.274796,-0.214264,-0.007652,...,-0.074037,-0.167019,-0.116942,0.237077,0.672470,-0.325564,0.031651,0.056322,1.00,0
91797,63632.0,1.167516,0.169447,0.509497,0.453736,-0.201459,-0.185675,-0.085807,0.055684,-0.281524,...,-0.171226,-0.485855,0.145080,0.024221,0.127454,0.105166,-0.014379,0.006946,5.49,0

In [6]:
# notação one-hot
# 0 -> [1, 0]
# 1 -> [0, 1]
one_hot_data = pd.get_dummies(dados_embaralhados, columns=['Class'])

In [7]:
one_hot_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Class_0,Class_1
120751,75947.0,1.098396,-0.340280,1.216727,0.709707,-0.956210,0.455643,-0.889714,0.426867,0.851781,...,0.058971,0.064191,0.020403,0.111105,0.333664,0.022088,0.010636,6.89,1,0
181407,124960.0,-0.569501,1.834470,-1.147724,1.078697,1.061644,-0.692177,1.020313,0.251366,-0.654807,...,0.272571,-0.211524,0.528725,0.027958,-0.410748,0.190701,0.211958,9.50,1,0
164706,116930.0,-0.907347,0.657210,1.980852,-0.271921,0.000650,-1.176878,0.866193,-0.126221,-0.431703,...,0.102100,-0.208866,0.892240,0.472673,0.309600,-0.023932,0.062189,30.90,1,0
128221,78640.0,1.237184,0.685679,-0.356350,1.356846,0.035289,-1.257542,0.274796,-0.214264,-0.007652,...,-0.167019,-0.116942,0.237077,0.672470,-0.325564,0.031651,0.056322,1.00,1,0
91797,63632.0,1.167516,0.169447,0.509497,0.453736,-0.201459,-0.185675,-0.085807,0.055684,-0.281524,...,-0.485855,0.145080,0.024221,0.127454,0.105166,-0.014379,0.006946,5.49,1,0

In [11]:
# normalizando os dados
# todos os dados estarão entre 0 e 1
dados_normalizados = (one_hot_data - one_hot_data.min()) / (one_hot_data.max() - one_hot_data.min())

In [12]:
dados_normalizados.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Class_0,Class_1
120751,0.439528,0.976954,0.763668,0.858498,0.283391,0.759279,0.267601,0.259935,0.789964,0.492122,...,0.512782,0.666387,0.384983,0.584143,0.479952,0.416919,0.313340,0.000268,1.0,0.0
181407,0.723182,0.948619,0.786615,0.817525,0.299748,0.772863,0.256061,0.271571,0.788082,0.440223,...,0.522746,0.662292,0.453480,0.579476,0.358354,0.420031,0.317425,0.000370,1.0,0.0
164706,0.676710,0.942879,0.774193,0.871739,0.239876,0.765721,0.251187,0.270632,0.784032,0.447908,...,0.514794,0.662332,0.502463,0.604439,0.476021,0.416069,0.314386,0.001203,1.0,0.0
128221,0.455114,0.979312,0.774493,0.831239,0.312078,0.765954,0.250376,0.267030,0.783087,0.462516,...,0.502240,0.663697,0.414180,0.615654,0.372268,0.417095,0.314267,0.000039,1.0,0.0
91797,0.368258,0.978128,0.769046,0.846242,0.272044,0.764360,0.261153,0.264833,0.785983,0.453082,...,0.487366,0.667588,0.385498,0.585061,0.442627,0.416246,0.313265,0.000214,1.0,0.0

In [13]:
df_X = dados_normalizados.drop(['Class_0', 'Class_1'], axis=1)

In [15]:
df_X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
120751,0.439528,0.976954,0.763668,0.858498,0.283391,0.759279,0.267601,0.259935,0.789964,0.492122,...,0.578098,0.561034,0.512782,0.666387,0.384983,0.584143,0.479952,0.416919,0.313340,0.000268
181407,0.723182,0.948619,0.786615,0.817525,0.299748,0.772863,0.256061,0.271571,0.788082,0.440223,...,0.579367,0.562501,0.522746,0.662292,0.453480,0.579476,0.358354,0.420031,0.317425,0.000370
164706,0.676710,0.942879,0.774193,0.871739,0.239876,0.765721,0.251187,0.270632,0.784032,0.447908,...,0.580352,0.562465,0.514794,0.662332,0.502463,0.604439,0.476021,0.416069,0.314386,0.001203
128221,0.455114,0.979312,0.774493,0.831239,0.312078,0.765954,0.250376,0.267030,0.783087,0.462516,...,0.578846,0.560286,0.502240,0.663697,0.414180,0.615654,0.372268,0.417095,0.314267,0.000039
91797,0.368258,0.978128,0.769046,0.846242,0.272044,0.764360,0.261153,0.264833,0.785983,0.453082,...,0.579416,0.558719,0.487366,0.667588,0.385498,0.585061,0.442627,0.416246,0.313265,0.000214

In [16]:
df_y = dados_normalizados[['Class_0', 'Class_1']]

In [17]:
df_y.head()

        Class_0  Class_1
120751      1.0      0.0
181407      1.0      0.0
164706      1.0      0.0
128221      1.0      0.0
91797       1.0      0.0

In [19]:
# tranformar em arrays
ar_X = np.asarray(df_X.values, 'float32')

In [20]:
ar_X

array([[4.3952847e-01, 9.7695416e-01, 7.6366788e-01, ..., 4.1691864e-01,
        3.1333971e-01, 2.6818563e-04],
       [7.2318161e-01, 9.4861865e-01, 7.8661472e-01, ..., 4.2003086e-01,
        3.1742516e-01, 3.6977700e-04],
       [6.7670959e-01, 9.4287908e-01, 7.7419293e-01, ..., 4.1606921e-01,
        3.1438586e-01, 1.2027484e-03],
       ...,
       [1.7313302e-01, 9.7937089e-01, 7.7520072e-01, ..., 4.1723955e-01,
        3.1421456e-01, 3.8923896e-05],
       [8.6111045e-01, 9.2456722e-01, 7.2333735e-01, ..., 4.0943524e-01,
        3.1534329e-01, 5.2749664e-02],
       [2.4554378e-01, 9.3568355e-01, 7.7753538e-01, ..., 4.1331920e-01,
        3.1256044e-01, 2.0937163e-03]], dtype=float32)

In [21]:
ar_y = np.asarray(df_y.values, 'float32')

In [22]:
ar_y

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [25]:
tamanho_treino = int(0.8*len(ar_X))
tamanho_treino

227845

In [26]:
# dados de treino
(X_treino_cru, y_treino_cru) = (ar_X[:tamanho_treino], ar_y[:tamanho_treino])

In [28]:
# dados de teste
(X_teste_cru, y_teste_cru) = (ar_X[tamanho_treino:], ar_y[tamanho_treino:])

In [37]:
print('treino:', len(X_treino_cru), "/", 'teste:', len(X_teste_cru))

treino: 227845 / teste: 56962

In [33]:
count_legit, count_fraud = np.unique(df['Class'], return_counts=True)[1]

In [36]:
print('não fraude:', count_legit, '/', 'fraude:', count_fraud)

não fraude: 284315 / fraude: 492

In [41]:
razao_fraude = float(count_fraud / (count_fraud + count_legit))
print('Porcentagem de transações fraudulentas ', round(razao_fraude*100, 2), '%')

Porcentagem de transações fraudulentas  0.17 %

In [42]:
# é uma dataset bem desbalanceado

In [44]:
peso = 1/razao_fraude
peso

578.8760162601626

In [48]:
# técnica para minimizar o viés
# dos dados desbalanceados 
y_treino_cru[:, 1] = y_treino_cru[:, 1] * peso